// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Mono&display=swap');

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url("https://nsiplants.com/sites/default/files/styles/hero_custom_user_wide_1x/public/images/nsip-home-hero_0.jpg?itok=XhEVs80G&timestamp=1499271961");
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-family: 'PT Mono', monospace;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.section-container {
    padding: 80px 0;
}
.home p{
  color: #585858;
}

.section-container-spacer {
  margin-bottom: 30px;
}

#show-page-for-chatroom a {
  color: black;
}

#no-line a:hover{
  text-decoration: none;
}

.modal-button svg:hover {
  stroke: $blue;
  fill: $blue;
}
 .modal-button svg {
   cursor: pointer;
   position: absolute;
   bottom: -10px;
   right: -90px;
 }

 .flex-grow-1 {
   position: relative;
  }

 .chatroom-page {
   background-image: url(https://images.unsplash.com/photo-1571035558438-56906e889b0e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
 }

 .my-message {
   
 }

  .their-message {
  text-align: right;
 }

 .message-content {
    background: white;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    display: inline-block;
 }

 .client-message {
   background-color:#D0D3E3;
 }

 .owner-message {
   background-color: #F4F4F4;
 }

 .chatroom {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: white;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    text-align: center;
  }
 }

 .chatroom h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .chatroom h1 {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
 }

 .modal-header h2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 }

 .modal-header i {
   font-weight: bold;
   font-size: 40px;
 }

 .message-container {
 }

.modal-form {
  margin-top: 20px;
  position: relative;
 }

.modal-form svg {
  position: absolute;
  top: 3px;
  right: 9px;
 }

 .modal-form svg:hover {
  stroke: $blue;
  fill: $blue;
 }

.postfix {
  visibility: hidden;
}

#Layer_1 {
  visibility: visible;
}

.show-form {
  position: relative;
}

.show-form svg {
  position: absolute;
  top: 3px;
  right: 9px;
}

.show-form svg:hover {
  stroke: $blue;
  fill: $blue;
}

.newwwww {
  margin-top: 20px;
}