.profile-grid{
  display: grid;
  grid-template-columns: 20% auto 20%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info{
  position: absolute;
  top: 37%;
  margin-left: 10px;
}

.profile-user-info{
  padding:30px;
}

.profile-info p{
  font-size: 18px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.profile-actions{
  position:absolute;
  bottom: 10px;
  right: 10px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}



.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.card-product-badge{
  position: absolute;
  right: 5px;
  top: 5px;
}

.card-product img {
  height: 100%;
  width: 134px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.fa-pencil-alt {
  color: #8acfc5;
}

#profilebutton:hover {
  background-color: white;
  border: none;
}



