
<div class="container mt-5">
<% if @favourites %>
  <h2>My favourites</h2>
    <div class="row d-flex">
      <% @favourites.each do |favourite| %>
          <div class="col-12 col-md-6">
            <div class="card-product">
              <% if favourite.plant.photos.attached? %>
                  <%= cl_image_tag favourite.plant.photos.first.key %>
              <% else %>
                <%= image_tag "plant.jpg" %>
              <% end %>
              <div>
              <div class="profile-info">
                <p><%= favourite.plant.name %> </p>
              </div>
              <div class="profile-actions">
                <%= link_to "", favourite_path(favourite), method: :delete, class:"fas fa-heart heart-green", title:'Remove plant from favourites' %>
              </div>
              </div>
            </div>
          </div>


      <% end %>

    </div>
  <% end %>
</div>
