<div class="container mt-4">
	<h1>My favourites</h1>
	<% if @favourites %>
	<% @favourites.each do |favourite|  %>
	    <%= link_to  favourite.plant do %>
      <div class="index-card-plant mt-4">
        <% if favourite.plant.photos.attached? %>
          <%= cl_image_tag favourite.plant.photos.first.key%>
        <% else %>
          <img src="https://static.wixstatic.com/media/f61af8_0e1d112d72604aae9e506c5919bd1696~mv2_d_2433_2987_s_4_2.png" />
        <% end %>
          <h3 class="card-title text-center"><%=favourite.plant.name %></h3>

      </div>
    <% end %>




	<% end %>
	<% end %>

</div>