<div class="banner">
  <div class="container">
    <h1><strong>plantPicker</strong> a place to <strong>make friends</strong> around your comunity!</h1>
    <p></p>
    <a class="btn btn-flat" href="#">Start now</a>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 section-container-spacer">
          <h2 class="text-center">Start picking</h2>
      </div>
    </div>
    <div class="row home">
      <div class="col-xs-12 col-md-4 text-center">
        <i class="far fa-heart fa-3x"></i>
        <h3>Search</h3>
        <p>Find new friends based on common interests and location.</p>
      </div>

      <div class="col-xs-12 col-md-4 text-center">
        <i class="far fa-comment-dots fa-3x"></i>
        <h3>Chat</h3>
        <p>Send a message and introduce yourself, and then take your friendship from there!</p>
      </div>


      <div class="col-xs-12 col-md-4 text-center">
        <i class="far fa-bell fa-3x"></i>
        <h3 class="text-center">Pick</h3>
        <p> Collect or trade your pick.</p>
      </div>
    </div>
  </div>
</div>

