
<div class="container mt-4">
  
  <div class="card-plant p-2">

   <!-- The grid: four columns -->
	<div class="row p-2">
	  <div class="column">
	    <img class="image_plant" src="https://i.pinimg.com/originals/d7/a8/aa/d7a8aa0e1e9887c6670ba88d2238c8f5.jpg" alt="gardenia">
	  </div>
	  <div class="column">
	    <img class="image_plant" src="https://i.pinimg.com/originals/d7/a8/aa/d7a8aa0e1e9887c6670ba88d2238c8f5.jpg" alt="gardenia" >
	  </div>
	  <div class="column">
	    <img class="image_plant" src="https://i.pinimg.com/originals/d7/a8/aa/d7a8aa0e1e9887c6670ba88d2238c8f5.jpg" alt="gardenia" >
	  </div>
	  <div class="column">
	    <img class="image_plant" src="https://i.pinimg.com/originals/d7/a8/aa/d7a8aa0e1e9887c6670ba88d2238c8f5.jpg" alt="gardenia" >
	  </div>
   </div>

<!-- The expanding image container -->
	<div class="block-image">
	  <!-- Close the image -->
	  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

	  <!-- Expanded image -->
	  <img id="expandedImg" style="width:100%">

	  </div>

	  <div class="card-plant-infos">
	    <h2>Plant name</h2>
	    <p>Product description with <strong>relevant info</strong> only.
	    <br>
	    Eg.Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>

	    <a class="btn btn-flat" href="#">Get in touch</a>

	  </div>

	</div>
</div>
