<div class="container mt-5">
<h2>Plants that were promised to me</h2>
  <div class="row d-flex">

    <% @transitions.each do |transition| %>

      <% if current_user.id == transition.user_id %>
        <div class="col-12 col-md-6">
          <div class="card-product">
            <% if transition.plant.photos.attached? %>
                <%= cl_image_tag transition.plant.photos.first.key %>
            <% else %>
              <%= image_tag "plant.jpg" %>
            <% end %>
            <div>
              <div class="profile-info">
                <h2><%= link_to transition.plant.name , plant_path(transition.plant), style:"margin-right:10px;"%></h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>




  </div>
</div>
