<div class="container mt-5">
<h2>My trades</h2>
  <div class="row d-flex">

    <% @transitions.each do |transition| %>

      <% if current_user.id === transition.user_id %>
        <div class="col-12 col-md-6">
          <div class="card-product">
            <% if transition.plant.photos.attached? %>
                <%= cl_image_tag transition.plant.photos.first.key %>
            <% else %>
              <%= image_tag "plant.jpg" %>
            <% end %>
            <div>
            <div class="profile-info">
              <p><%= transition.plant.name %> </p>
            </div>
            <div class="profile-actions">
              <%= link_to "" , plant_path(transition.plant), class:"far fa-eye", style:"margin-right:10px;"%>
            </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
