<div class="container mt-4">
  <div class="profile-grid">
   <%= render 'my_info'%>
   <div>
     <%= render 'my_plants'%>
     <%= render 'my_trades'%>
   </div>
     <div>
     <%= render 'my_chats'%>
   </div>

  </div>
</div>
