.navbar-lewagon {
  justify-content: space-between;
  background: #8acfc5;
}
.navbar-lewagon a{
  color:white;
}

.nav-link {
  color:white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-item{
  color: #212529 !important;
}
