.index-cards-plant{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.index-card-plant{
  margin-right: 10px;
  position: relative;
  background-color: white;
  width: 200px;
  height: 250px;
  padding: 10px;
}

.hide-info {
  display: none;
  position:absolute;
  width: 250px;
  background-color: white;
  text-align: center;
  padding: 10px 0;
}

.index-card-plant:hover{
  filter: brightness(85%);
  text-decoration: none;
}

.index-card-plant img{
  height: 85%;
  width: 100%;
  object-fit: cover;
}

.index-filter-plant{
  width: 200px;
}

.index-search-plant{
  text-align: right;
}

.index-filter-by{
  border-bottom: 1px solid #ccc;

}

.index-filter-by li a{
  color: #484848;

}

.index-filter-by h3{
 text-align: center;
 border-bottom: 1px solid #ccc;
 padding: 10px;

}

#no-line h3:hover{
  text-decoration: none;
}

.index-filter-by ul{
  list-style-type:none;
}

.index-grid{
  display: grid;
    grid-template-columns: 20% auto;
}

